*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

/*.view{
    height: 100vh;
} */

.select{
    padding: 6.5px 0;
    width: 40px;
}

.calculate{
    color: white;
    background-color: rgb(212, 8, 76);
    height: 35px;
    width: 160px;
    border: none;
    margin-left: 10px;
}

.img-size{
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.end-section{
    display: flex;
    justify-content: space-between;
}

div .all {
    background-color: #fdfff5;
    border: 3px solid green;
}

div .main-header{
    background-color: #181818;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

section h3{
    padding: 10px;
    cursor: default;
}

.no-padding{        /*removes the padding from bootsrap column*/
    margin: 0 !important;
    padding: 0 !important;
}

.headers h3{
    cursor: default;
}


#resultOutcome{
    margin-left: 90px;
    font-weight: normal;
}

#reduce-size{
   font-size: larger;
}

input.add, .add{
    display: none;
}

ol {
    margin-left: 20px;
}

ol li{
    padding: 5px 0;
}

table {
    margin: 10px;
}
@media screen and (max-width: 1024px) {
    div .all {
        background-color: #fdfff5;
        border: none;
        width: 100vw;
        
    }
    
}


@media screen and (min-width: 768px) {
    div .all {
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }
    
}

@media (min-width:768px) and (max-width: 770px) {
    div .all {
        background: none;
    }
}

/*.cent{
    text-align: center;
} */